/* About */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
 }

.about-section {
  background: #000033;
  color: #ffffff;
}

.section-title {
  font-size: 2.2rem;
  font-weight: 700;
  color: #0dcaf0;
}

.custom-card {
  background-color: #111927;
  border: 1px solid #0dcaf0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 12px;
  overflow: hidden;
}

.custom-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 20px #0dcaf0;
}

.custom-card .card-img-top {
  height: 200px;
  object-fit: cover;
}

.custom-card .card-title {
  color: #0dcaf0;
  font-weight: 600;
  font-size: 1.2rem;
}

.custom-card .card-text {
  font-size: 0.95rem;
  color: #cbd5e1;
}

.custom-card .card-link {
  color: #66fcf1;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.custom-card .card-link:hover {
  color: #0dcaf0;
}



/* How  */
.how {
  width: 90%;
  margin: auto;
}
.how-it-work {
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
  color: #00ffff;
}
.how-it-work::after {
  content: '';
  width: 80px;
  height: 4px;
  background-color: #00ffff;
  display: block;
  margin: 16px auto 0;
  border-radius: 4px;
}
.how-cards{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.how-card {
  width: 350px;
  border: 1px solid #00ffff;
  padding: 20px;
  margin: 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}

.how-card i {
  font-size: 38px;
  margin-bottom: 20px;
  color: #00ffff; 
}
.how-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #00ffff;
}
.how-card p {
  font-size: 15px;
  color: #ccc;
  line-height: 1.5;
}
.how-card:hover {
  transform: translateY(-20px);
}
@media screen and (max-width: 768px) {
  .how-cards {
    flex-direction: column;
    align-items: center;
  }

  .how-card {
    flex: 1 1 100%;
    max-width: 90%;
  }
}
