*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
 }

.how {
  width: 90%;
  margin: auto;
}

.section-heading{
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
  color: #00ffff;
}
.section-heading::after {
  content: '';
  width: 80px;
  height: 4px;
  background-color: #00ffff;
  display: block;
  margin: 16px auto 0;
  border-radius: 4px;
}
.services-cards{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.services-card {
  width: 350px;
  border: 1px solid #00ffff;
  padding: 20px;
  margin: 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}

.services-card i {
  font-size: 38px;
  margin-bottom: 20px;
  color: #00ffff; 
}
.services-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #00ffff;
}
.services-card p {
  font-size: 15px;
  color: #ccc;
  line-height: 1.5;
}
.services-card:hover {
  transform: translateY(-20px);
}
@media screen and (max-width: 768px) {
  .services-cards {
    flex-direction: column;
    align-items: center;
  }

  .services-card {
    flex: 1 1 100%;
    max-width: 90%;
  }
}

.mission-vision-section {
  background: #000033;
  color: #fff;
  padding: 80px 20px;
  text-align: center;
}
.mission-vision-container {
  max-width: 1000px;
  margin: 0 auto;
}

.mv-title {
  font-size: 40px;
  color: #00ffff;
  margin-bottom: 60px;
  position: relative;
}
.mv-title::after {
  content: '';
  width: 80px;
  height: 4px;
  background-color: #00ffff;
  display: block;
  margin: 16px auto 0;
  border-radius: 4px;
}

.mv-cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}
.mv-card {
  background: linear-gradient(145deg, #0a0a23, #121243);
  border: 1px solid #00ffff33;
  padding: 30px;
  border-radius: 15px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.mv-card:hover {
  transform: translate(-8px);
  box-shadow: 0 0 25px rgba(0, 255, 255, 0.08);
}
.mv-card p {
  color: #ccc;
  font-size: 0.95rem;
  line-height: none;
}
.mv-card i {
  font-size: 40px;
  color: #00ffff;
  margin-bottom: 10px;
}
.mv-card h3 {
  font-size: 22px;
  color: #00ffff;
  margin-bottom: 10px;
}

@media (max-width: 768px){
  .mv-cards {
    flex-direction: column;
    align-items: center;
  }
}