.footer
{
  background-color: #0b0c40;
  color: white;
  
}

.dash-footer
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1 1 200px;
  min-width: 200px;
}

.categories ul li
{
  color: white;
}

.social-icons {
  display: flex;
  
  margin-top: 1rem;
  
}

.social-icon {
  font-size: 1.5rem;
  color: #a8bfc9;
  text-decoration: none;
  transition: color 0.3s ease;
  text-align: left;
}

.social-icon:hover {
  color: #00c2b8;
}

.suggestion-box form {
  display: flex;
  gap: 0.5rem;
}

.suggestion-box input[type="text"] {
  flex-grow: 1;
  padding: 0.5rem;
  border: 1px solid #00c2b8;
  border-radius: 4px;
  background-color: transparent;
  color: #a8bfc9;
}

.suggestion-box input[type="text"]::placeholder {
  color: #5f7a8a;
}

.suggestion-box button {
  background-color: #00c2b8;
  border: none;
  color: #071930;
  padding: 0 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.suggestion-box button:hover {
  background-color: #008e84;
}
