body::before {
  content: '';
  display: block;
  height: 72px;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  background-color: #000033;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

a {
  color: #00ffff;
  text-decoration: none;
}

a:hover {
  color: #00cccc;
  text-decoration: underline;
}

/* Scrollbar Styling - Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #000033; /* same as body background */
}

::-webkit-scrollbar-thumb {
  background: #00cccc;
  border-radius: 8px;
  border: 2px solid #000033;
}

::-webkit-scrollbar-thumb:hover {
  background: #00ffff;
}

/* Scrollbar Styling - Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #3fa9f5 #000033; /* thumb and track */
}