.navbar {
  background-color: hwb(240 1% 72%);
  border-bottom: 1px solid #222252;
}

.navbar-brand {
  font-size: 1.5rem;
  color: #00ffff !important;
}

.navbar .dropdown-menu {
  background-color: #000022;
}

.dropdown-item:hover {
  background-color: #002244;
}

.nav-link.active {
  color: #00ffff !important;
  text-shadow: 0 0 10px #00ffff;
  font-weight: bold;
}

#totalPointsDisplay {
  font-size: 0.9rem;
  padding-top: 2px;
}
