/* Hero-Section */
@media (max-width: 768px) {
  .hero-section {
    padding: 40px 20px;
    text-align: center;
  }

  .hero-details {
    flex: 1 1 100%;
    text-align: center;
    padding-right: 0;
  }

  .hero-title {
    font-size: 2rem;
  }

  .subtitle, .description {
    max-width: 100%;
    font-size: 1rem;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .hero-image-wrapper {
    flex: 1 1 100%;
    margin-top: 30px;
  }
}

/* Dashboard */
@media (max-width: 480px) {
  .dashboard-title {
    font-size: 2rem;
  }
  .hero h1 {
    font-size: 2.2rem;
  }
  .about-text span {
     font-size: 1.5rem;
  }
  .about-text p {
    font-size: 0.9rem;
  }
}

@media (max-width: 992px) {
  .team-member {
    width: 45%;
  }
}
@media (max-width: 576px) {
  .team-member {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .cv-cards {
    flex-direction: column;
    align-items: center;
  }

  .terms-container {
    flex-direction: column;
    height: auto;
  }

  .terms-nav {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #444;
    max-height: 200px;
    overflow-y: auto;
  }

  .terms-content {
    padding: 20px;
    height: auto;
    max-height: none;
  }

  .terms-nav li {
    padding: 12px;
  }
}




