
.terms-container {
  display: flex;
  height: 90vh;
  border: 1px solid #444;
  background-color: #0a0a23;
  color: #ddd;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%
}

.terms-nav {
  background-color: #121233;
  border-right: 1px solid #444;
}

.terms-nav ul {
  list-style: none;
  padding-left: 10px;
}

.terms-nav li {
  cursor: pointer;
  padding: 8px 0;
  border-left: 3px solid transparent;
}

.terms-nav li:hover, .terms-nav li.active {
  border-left: 3px solid #3fa9f5;
  color: #3fa9f5;
}

.terms-content {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
  line-height: 1.6;
}
